In [7]:
import numpy as np
import pandas as pd

P1a_ke = pd.read_csv('ke_Phase1a.csv', index_col=0)
P1b_ke = pd.read_csv('ke_Phase1b.csv', index_col=0)

res = pd.Series([0])
for i in range(len(P1a_ke)):
    res = pd.concat([res, P1a_ke.iloc[i] - np.mean(P1a_ke.iloc[i])])
for i in range(len(P1b_ke)):
    res = pd.concat([res, P1b_ke.iloc[i] - np.mean(P1b_ke.iloc[i])])
res = res[1:]

std_eta1_init = np.std(res, ddof=1)

mean = []
for i in range(len(P1a_ke.iloc[0])):
    mean.append(np.mean(P1a_ke.iloc[:, i]))
for i in range(len(P1b_ke.iloc[0])):
    mean.append(np.mean(P1b_ke.iloc[:, i]))

In [10]:
P1a_ke.iloc[i]

0.1      0.044710
1.0      0.032158
10.0     0.022147
20.0     0.025902
40.0     0.016840
80.0     0.027580
160.0    0.056128
320.0    0.024181
Name: 2, dtype: float64

In [2]:
P1a_ke

,0.1,1.0,10.0,20.0,40.0,80.0,160.0,320.0
ID,,,,,,,,
1,0.037147,0.034872,0.033862,0.020041,0.027398,0.022608,0.019928,0.031337
2,0.044710,0.032158,0.022147,0.025902,0.016840,0.027580,0.056128,0.024181
3,0.048994,0.024516,0.028087,0.043757,0.025649,0.029072,0.032193,0.014215
4,0.023397,0.029331,0.026632,0.034885,0.024659,0.029911,0.024732,0.039393
5,0.027756,0.014310,0.040675,0.022350,0.029107,0.033763,0.020797,0.021712
6,0.056221,0.033293,0.051049,0.037705,0.031106,0.016153,0.018992,0.028590

In [3]:
P1a_ke.iloc[:, i]

ID
1    0.034872
2    0.032158
3    0.024516
4    0.029331
5    0.014310
6    0.033293
Name: 1.0, dtype: float64